<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>YT</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<h1>YT</h1>
<form method="POST">
    <input name="videoUrl" type="text" placeholder="https://www.youtube.com/watch?v=01234567890" size="35">
    <select name="selectFormat">
        <option selected value='best'>Best quality</option>
        <option value='audio'>Audio only</option>
    </select>
    <input type="submit" value="Download">
</form>
<a href="/list">LIST</a>
<a href="/purge">PURGE</a>
</body>
</html>